/** @format */

* {
	box-sizing: border-box;
}
body{
	height: 100vh;
}
#root, #home {
	height: 100%;
}
#content-wrapper{
	height: 91.6%;
}
#appbar{
	height: 8.4%;
}
img{
	height: 100%;
}
a{
	text-decoration: none;
}
#about{
	margin-top: 2em;
}
#bio{

    text-align: justify;
}
#bio > p{
	font-size: large;
	line-height: 3em;
}